@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* -------------- CSS RESET -------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Quicksand', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #FBECF5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------- GENERAL STYLES --------------- */
* {
  box-sizing: border-box;
  background-color: #f8edf4;
}

/* --------------- NAV STYLES --------------- */
.nav--container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2.5rem;
}

.nav--links-container {
	display: flex;
	gap: 30px;
}

.nav--link {
	transition: font-weight 0.5s, font-size 0.5s;
	cursor: pointer;
}

.nav--link:hover {
	font-weight: 600;
	font-size: 1.2rem;
}


.nav--sign-in-container {
	display: flex;
	gap: 30px;
}

.nav--hamburger {
	display: none;
}

.try-free-btn {
	width: 8.5rem;
	height: 3rem;
	border-radius: 5px;
	background-color: rgb(2, 59, 2);
	color: white;
	font-size: 0.9rem;
	font-weight: 600;
	align-self: flex-start;
}

.try-free-btn:hover {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* --------------- POPUP STYLES --------------- */
.popup--container {
	background-color: white;
	width: 30vw;
	border-radius: 20px;
	position: absolute;
	left: 480px;
	display: flex;
	gap: 20px;
}

.popup--product {
	padding: 0 1rem;
	margin: 1rem 0;
}

.popup--logo {
	background-color: white;
	position: relative;
	left: 30px;
}

.popup--product {
	background-color: white;
}

.popup--title {
	background-color: white;
}

.popup--description {
	background-color: white;
}

/* --------------- LANDING STYLES --------------- */
.landing--container {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	margin-top: 12rem;
}

.landing--info {
	display: flex;
	flex-direction: column;
	width: 40%;
	gap: 10px;
}

.landing--title {
	font-size: 4rem;
	font-weight: bold;
}

span {
	color: orange;
}

.landing--rating {
	margin-top: 1rem;
}

.landing--hero-img {
	width: 60%;
}

.landing--try-free-btn {
	width: 8.5rem;
	height: 3rem;
	border-radius: 5px;
	background-color: rgb(2, 59, 2);
	color: white;
	font-size: 0.9rem;
	font-weight: 600;
	align-self: flex-start;
}

/* --------------- FOOTER STYLES --------------- */
footer {
	margin-top: 5rem;
	justify-self: flex-end;
}

.footer--text-container {
	display: flex;
	justify-content: center;
}

.footer--companies-container {
	display: flex;
	justify-content: center;
	gap: 45px;
}

/* --------------- MEDIA QUERIES --------------- */

/* --------------- TABLETS --------------- */
@media screen and (max-width: 920px) {
	/* --------------- NAV STYLES --------------- */
	.try-free-btn {
		display: none;
	}

	/* --------------- POPUP STYLES --------------- */
	.popup--container {
		width: 50vw;
		left: 120px;
	}

	/* --------------- LANDING STYLES --------------- */
	.landing--container {
		justify-content: space-evenly;
	}
	
	.landing--info {
		margin-left: 1.5rem;
		width: 60%;
	}
	
	.landing--hero-img {
		width: 65%;
		float: right;
		margin-right: 2rem;
	}

	/* --------------- FOOTER STYLES --------------- */
	footer {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		height: 20vh;
		justify-content: flex-end;
	}
	
	.footer--text-container {
		display: flex;
		justify-content: center;
	}
	
	.footer--companies-container {
		display: flex;
		justify-content: center;
		gap: 45px;
	}

	.footer--company {
		width: 9rem;
	}
}

@media screen and (max-width: 500px) {
	.App {
		padding-right: 0.5rem;
	}
	/* --------------- NAV STYLES --------------- */
	.nav--links-container {
		flex-direction: column;
		gap: 10px;
	}

	.nav--sign-in-container {
		display: none;
	}

	/* --------------- POPUP STYLES --------------- */
	.popup--container {
		width: 100vw;
		position: unset;
		display: flex;
		gap: 0px;
	}

	/* --------------- LANDING STYLES --------------- */
	.landing--container {
		display: flex;
		width: 100vw;
		justify-content: flex-start;
		margin-top: 7rem;
	}

	.landing--info {
		display: flex;
		flex-direction: column;
		width: 40%;
		gap: 10px;
	}

	.landing--title {
		font-size: 4rem;
		font-weight: bold;
	}

	.landing--hero-img-container {
		display: none;
	}

	.landing--hero-img {
		width: 60%;
	}

	.landing--try-free-btn {
		width: 8.5rem;
		height: 3rem;
		border-radius: 5px;
		background-color: rgb(2, 59, 2);
		color: white;
		font-size: 0.9rem;
		font-weight: 600;
		align-self: flex-start;
	}
}