@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* -------------- CSS RESET -------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Quicksand', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #FBECF5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------- GENERAL STYLES --------------- */
* {
  box-sizing: border-box;
  background-color: #f8edf4;
}

/* --------------- NAV STYLES --------------- */
.nav--container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2.5rem;
}

.nav--links-container {
	display: flex;
	gap: 30px;
}

.nav--link {
	transition: font-weight 0.5s, font-size 0.5s;
}

.nav--link:hover {
	font-weight: 600;
	font-size: 1.2rem;
}


.nav--sign-in-container {
	display: flex;
	gap: 30px;
}

.nav--try-free-btn {
	width: 8.5rem;
	height: 3rem;
	border-radius: 5px;
	background-color: rgb(2, 59, 2);
	color: white;
	font-size: 0.9rem;
	font-weight: 600;
	align-self: flex-start;
}